@import "@/assets/SCSS/variables.scss";
@import "@/assets/SCSS/components/components.scss";
@import "@/assets/SCSS/views/views.scss";

/* GLOBAL STYLES*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px; //base font-size (1 em)
  font-family: Raleway;
  word-wrap: break-word;
  .theme--light.v-application{
      background-color: white;
  }
}
p {
    &.dark{
        color: #fff;
    }
    font-family: Raleway;
    font-style: italic;
    font-weight: 500;
    font-size: 1.56em;
    line-height: 2em;
    display: flex;
    align-items: center;
    letter-spacing: 0.039em;
}
h1 {
    &.dark{
        color: #fff;
    }
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 4em;
    line-height: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}
h2{
    &.dark{
        color: #fff;
    }
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 3em;
    line-height: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}
h3{
    &.dark{
        color: #fff;
    }
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 2em;
    line-height: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}
h4{
    &.dark{
        color: #fff;
    }
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 1em;
    line-height: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}
h5{
    &.dark{
        color: #fff;
    }
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: .83em;
    line-height: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}
h6{
    &.dark{
        color: #fff;
    }
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: .65em;
    line-height: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}


/* APPLICATION STYLES */
#pc-app .v-text-center{
    height: 100%;
    line-height: 100%;
}
#pc-app{
    .primary--text{
        color: #000 !important;
        caret-color: #000 !important;
    }
}
.pc-vh-center{
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.pc-v-center{
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
}
#pc-app .container.pc-container{
    padding: 0 2.5%;
}
.pc-background{
    width: 100%;
    height: 100%;
    position: relative;
    &--dark{
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #404142;
    }
    &--light{
        width: 100%;
        height: 100%;
        color: #000;
        background-color: #fff;
    }
}

/* COMOPNENT STYLES */
.pc-title {
    &--header{
        padding: 0px 16px;
    }
}
.pc-logo {
    &--header{
      max-width: 2.5em;
    }
}

.pc-menu .v-list{
    padding: 0;
}
#pc-app .pc-menu{
    background-color: #414042;
    border: 1px solid #BFBFBF;
    color: white !important;
    &--active{
        background-color:   #4D4D4F
    }
}

#pc-app .pc-input{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25em;
    line-height: 1.43em;
    letter-spacing: 0.25em;
    color: #C7C8CA;
    background-color: transparent;
    &.pc-input--disabled .v-input__slot{
        background-color: #ffffff !important;
    }
    .v-input{
        font-size: inherit;
    }
    &__label{
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        color: #C7C8CA;
    }
    &__select{
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 1.09em;
        line-height: 1.28em;
        letter-spacing: 0.055em;
    }
    .theme--light.v-select .v-select__selections,
    .theme--light.v-icon,
    .theme--light.v-input:not(.v-input--is-disabled) input{
        color: #C7C8CA;
    }
    .v-input__slot:hover fieldset, 
    .v-text-field--outlined.v-input--is-focused fieldset,
    .theme--light.v-text-field--outlined fieldset{
        border-color: #C7C8CA;
    }
}
/* Media Queries */
@media only screen and (min-width : 1900px){
}
@media only screen and (min-width : 1500px){
}
@media only screen and (max-width : 1240px){
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        font-size: 1em;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 1em;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: 1em;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 1em;
    }
}
@media only screen and (max-width :950px){
    p{
        font-size: 1em;
    }
    h1{
        font-size: 2.6em;
    }   
    h2{
        font-size: 1.95em;
    }
    h3{
        font-size: 1.3em;
    }
    h4{
        font-size: 0.65em
    }
    h5{
        font-size: .55em;
    }
    h6{
        font-size: .44em;
    }
}

@media only screen and (max-width : 500px){
    p{
        font-size: .5em;
    }
    h1{
        font-size: 1.3em;
    }
    h2{
        font-size: .97em;
    }
    h3{
        font-size: 0.6em;
    }
    h4{
        font-size: 0.325em
    }
    #pc-app .pc-input{
        font-size: .625em
    }
}


// NAVBAR STYLES

.pc-toolbar{

&__buttons{


}
}

.pc-navbar{

}

.pc-navbar{

    &__avatartext{
        font-family: "Raleway" !important;
        font-weight: 900 !important;
        text-transform: uppercase !important;
        font-size: 1rem !important;
        letter-spacing: .1rem;
        cursor: pointer;

    }

    &__avatar{

        &:hover{
            cursor: pointer;
        }

    }

    &__myprograms{

        font-family: "Raleway" !important;

        font-weight: 900 !important;


    }

    &__logout{

        font-family: "Raleway" !important;

        font-weight: 900 !important;


    }


    &__signup{

        font-family: "Raleway" !important;

        font-weight: 900 !important;


    }

    &__login{

        font-family: "Raleway" !important;

        font-weight: 900 !important;


    }
    
}


// v-input-text-field

.tester123{

}



