@import "@/assets/SCSS/variables.scss";
@import "@/assets/SCSS/components/components.scss";
@import "@/assets/SCSS/views/views.scss";

/* GLOBAL */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
  font-size: 16px;
  font-family: Raleway;
  word-wrap: break-word;
}
.row{ 
    margin: 0;
}
#pc-app{
    .primary--text{
        color: #000 !important;
        caret-color: #000 !important;
    }
}
.pc-background{
    width: 100%;
    height: 100%;
    position: relative;
}
#pc-button{
    color: #fff;
    width: 400px;
    height: 100px;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 2.9em;
    display: block;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.125em;
    border: 1px solid #BFBFBF
}
.pc-h-center{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%)
}
.pc-container{
    margin: 0 5%;
}

p{
    font-family: Raleway;
    font-style: italic;
    font-weight: 500;
    font-size: 1.56em;
    line-height: 2em;
    display: flex;
    align-items: center;
    letter-spacing: 0.039em;
}
h1 { 
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 4em;
    line-height: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}
h2{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 3em;
    line-height: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}
h3{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 2em;
    line-height: 1em;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}

/* Media Queries */
    @media only screen and (min-width : 1900px){
        #profileContainer .pc-profile-picture{
            &--page{
                height: 400px;
                width: 400px;
                left: -20%;
            }

        }
    }
    @media only screen and (min-width : 1500px){
        #profileContainer .pc-profile-picture{
            &--page{
                left: -40%;
            }

        }
    }
    @media only screen and (max-width : 1240px){
        #profileContainer .pc-profile-picture{
            position: absolute;
            top: 20%;
            bottom: 0%;
            left: -45%;
            right: 0%;
        }

        #profileContainer .pc-profile-picture--page{
            width: 200px;
            height: 200px;
        }

    }
    @media only screen and (max-width :950px){
        p{
            font-size: 1em;
        }
        h1{
            font-size: 2.6em;
        }   
        h2{
            font-size: 1.95em;
        }
        h3{
            font-size: 1.3em;
        }
        #profileContainer .pc-profile-picture{
            position: absolute;
            top: -300px;
            bottom: 0%;
            left: 35%;
            right: 30%;
        }
        #profileDetails .pc-badge{
            border-radius: 0px;
        }
        #profileDetails h3{
            justify-content:center;
        }
        #profileContainer h1{
            justify-content:center;
        }
        #profileDescription{
            margin: 40px;
        }
        #profileSwitch label{

        }
    }

    @media only screen and (max-width : 500px){
        #profileContainer .pc-profile-picture{
            position: absolute;
            top: -100px;
            bottom: 0%;
        }
        #profileContainer .pc-profile-picture--page{
            width: 100px;
            height: 100px;
        }
        #profileBanner{
        // MUST set height property, using Doka
            height: 200px;
            object-fit: cover;
            width: 100%;
        }
        h1{
            font-size: 1.3em;
        }
        h2{
            font-size: .97em;
        }
        h3{
            font-size: 0.6em;
        }
        p{
            font-size: .5em;
        }
        #profileDescription{
            margin: 20px;
        }
        #profileFields{
            .mdi-chevron-down{
                font-size: 1.35em;
            }
            .v-list-item__title{
                font-size: 1.35em;
            }
            .v-list-item__subtitle{
                font-size: .75em;
            }
            .pc-profile-picture--icon{
                width: 25px;
                height: 25px;
                margin: 0;
            }
            .pc-badge{
                font-size: 0.7em;
            }
        }

    }