.guide{
    &__unlock-wrapper{ 
        position: fixed;
        // align-content: center;
        text-align: center;
        // vertical-align: middle;

    }
    &__unlock-wrapper i{
        color: #dbdcde;
        font-size: 20px;

        &:hover{
            color: #6fba7f;
        }
    }

    &__lock-wrapper{ 
        position: fixed;
        // align-content: center;
        text-align: center;
        // vertical-align: middle;

    }
    &__lock-wrapper i{
        color: #dbdcde;
        font-size: 20px;

        &:hover{
            color: #ea6764;
        }
    }



}