@import './radio.scss';

/* PICTURE - COMPONENT */
.pc-profile-picture{
    border-radius: 50%;
    background-color: grey; // filler
    &--page{
        height: 260px;
        width: 260px;
    }
    &--icon{
        width: 50px;
        height: 50px;
    }
}

/* ROLE-BADGE - COMPONENT*/
.pc-badge{
    width: 100%;
    color: #fff;
    border-radius: 50px;
    height: fit-content;
    text-align: center;
    // max-width: fit-content;
    &__employer{
       background-color: $pc-purple;
       &--inverted{
            color: $pc-purple;
            background-color: white;
            border: 0.75px solid #939598;
       }
    }
    &__teacher{
        background-color: $pc-pink;
        &--inverted{
            color: $pc-pink;
            background-color: white;
            border: 0.75px solid #939598;
        }
    }
    &__student{
        background-color: $pc-green;
        &--inverted{
            color: $pc-green;
            background-color: white;
            border: 0.75px solid #939598;
        }
    }
}

.pc-badge h2{
    text-align: center;
}

.pc-badge h3{
    justify-content: center
}

/* PC textfield input component */
.pc-input__autocomplete{
    border: 1px solid #C7C8CA;
    color: #C7C8CA;
    border-radius: 4px;
    padding: 0px 12px; 
    height: 70px;
    .v-input__control{
        border: none;
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
    }
}