#pc-app.v-application .pc-radio{
    .accent--text{
        color: #C7C8CA !important;
        caret-color: #C7C8CA !important;
    }
    .theme--light.v-icon{
        color: #C7C8CA;
    }
    .theme--light.v-label{
        color: #fff;
    }
}