#pc-home{
    height: 100%;
    background: url(https://firebasestorage.googleapis.com/v0/b/pilotcity-firestore.appspot.com/o/home.png?alt=media&token=0df323b0-c253-441f-8a3b-054453ab3697) no-repeat;
    background-size: cover;
}

#pc-home .pc-home__content{
}

#pc-home .pc-home__header{
    padding-bottom: 2.5%;
}