
#login-button{
    background-color: $pc-blue;
    color: white;
    height: 50px;
    border-radius:0px;
    box-shadow:none;
}
#login-title{
    color: $pc-blue;
    font-size: 1.375rem;
    font-weight: bold;
}
#login-image{
    display: block;
    margin: 0 auto;
    margin-top:0px;
    width:200px;
}
@media only screen and (max-width : 500px){
    #login-image{
        height: 108px;
    }
    #login-button{
        height: 5vh;
    }
}

.label_annotate{
    @include fluid-type(font-size, 600px, 1200px, 16px, 32px);
    font-style: italic;
}

.XXX{
    // border: 1px solid #000000;
}