#login-button{
    background-color: $pc-blue;
    color: white;
    height: 75px;
}
#login-title{
    color: $pc-blue;
}
#login-image{
    display: block;
    margin: 0 auto;
}
@media only screen and (max-width : 500px){
    #login-image{
        height: 108px;
    }
    #login-button{
        height: 5vh;
    }
}