#signup-button{
    background-color: $pc-green;
    color: white;
    height: 75px;
}
#signup-title{
    color: $pc-green;
}
#signup-image{
    display: block;
    margin: 0 auto;
}
@media only screen and (max-width : 500px){
    #signup-image{
        height: 108px;
    }
    #login-button{
        height: 5vh;
    }
}