#signup-button{
    font-family: "Raleway";
    letter-spacing: 1px;
    color: #ffffff;
    background-color:$pc-green;
    font-weight: 900;
    // text-transform: uppercase;
    font-size: 10px;
    width: 100%;
    height: 50px;

    &:hover{
        border: 1px solid #ffffff;
    }
}
.signup{

    &__termstext{
        font-size: .75rem;
        font-family: "Raleway";
        font-weight: 500;
    }

    &__termscheck{

        margin-bottom: 3%;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: .75rem;
        line-height: 30px;
        color: #949598;
        width: 75%;
        text-align: left;
        margin-left: 10%;
    
        }
    
        &__termscheckbox{
            width: 18px;
            height: 18px;
            margin-right: 2%;
            border: 1.5px;
            border-color: #C7C8CA;
            
        }



    &__header{
        font-family: "Raleway";
        font-size: 30px;
        letter-spacing: 1px;
        color: #6fba7f;
        font-weight: 800;
        margin-bottom: 48px;
    }

    &__label{
        font-family: "Raleway";
        font-size: 12px;
        letter-spacing: 2px;
        color: #ffffff;
        font-weight: 900;
        text-transform: uppercase;
        padding-left:15px;

    }

    &__field-input{
        border: 1px solid #ffffff;
        width: 100%;
        height: 50px;
        padding-left:15px;
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 800;
        color: #ffffff;
        .Password{
            border: none;
            max-width: 100%; 
            margin: 0;
            &__group{
                height: 100%;
            }
        }
        .Password____field{
            background-color: inherit;
            border: inherit;
            padding: 0 0 0 15px;
            font-family: "Raleway";
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            height: 100%;
        }
        &.Password{
            padding-left: 0px;
        }
    }

    &__forgotpassword{
        font-family: "Raleway";
        font-size: 15px;
        font-weight: 700;
        color: #ffffff;
        font-style: italic;


    }

    &__background{
        background-color:#404142;
        height: 100vh;
    }
}