.pc-externship #agenda-view__button{
    width: 100%;
    display: block;
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 900;
    border: 1px solid black;
    letter-spacing: 1px;
    .theme--light.v-btn.v-btn--disabled{
        border: none;
    }

    &:hover { 
        background-color: $pc-blue;
        color: #ffffff;
        border: 1px solid $pc-blue;

    }
}

.pc-project #agenda-view__button{
    width: 100%;
    display: block;
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 900;
    border: 1px solid black;
    letter-spacing: 1px;
    .theme--light.v-btn.v-btn--disabled{
        border: none;
    }

    &:hover { 
        background-color: $pc-green;
        color: #ffffff;
        border: 1px solid $pc-green;

    }
}

.agenda-view{
    height: 100%;
    &__checkbox{
        margin-top:4px;
        $opacity: 0;
        @mixin set-opacity($op) {
            $opacity: $op;
        }
        @function get-opacity() {
            @return $opacity;
        }
        &-input, &-label{
            position: relative;

        }
        &-input > input{
            height: 18px;
            left: 50%;
            opacity: 0;
            position: absolute;
            top: 30%;
            width: 18px;
            z-index: 1;
            cursor: pointer;
            @media (max-width: 610px) {
                left: 0%;
            }
        }   
        & label::before {
            color: black;
            border: 1px solid black;
            background-color: transparent;
            content: "";
            height: 18px;
            left: -10%;
            position: absolute;
            top: 30%;
            width: 18px;
            @media (max-width: 610px) {
                left: -20%;
            }
        }
        &--box label::after {
            content: "";
            // height: 13.6px;
            // width: 13.6px;
            // left: -9.7%;
            // top: 37%;
            height: 18px;
            width: 18px;
            left: -10%;
            top: 30%;
            opacity: 1;
            position: absolute;
            background-color: black;
            transition: opacity 0.2s ease-in-out;
            border: 2px solid rgba(255, 255, 255, .85);
            border-style: solid inset solid solid;
            @media (max-width: 610px) {
                left: -20%;
            }
        }
    }
    &__icon{
        width: 75px;
        height: 80px;
        position: absolute;
    }

    &__switch{
        // margin-top: 30px;
    }

    &__switchlabel{
        margin:23px 18px 0px 0px;
        font-family: Raleway;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: .075rem;
        font-size: 13px;
        color: #404142;
    }
    &__container{ 
        height: 100%;
        border: 0.75px solid #000000;
        // COMMENT OUT WHEN NEW SWITCH COMES IN
        margin-top: 87px;
//COMMENT DONE
        margin-bottom: 49.29px;
        padding-left: 0%;
        padding-right: 0%;
        position: relative;
        @media (max-width: 610px) {
            border: none;
        }
    }
    &__borderline{

        border-bottom: 1px solid transparent;

    }
    &__title{
        display: block;
        text-align: center;
        margin-top: 56.78px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 1.41rem;
        line-height: 26px;
        color: #000000;
        width: 100%;
        text-align: center;
        letter-spacing: .05rem;
        padding-bottom: 24px;
    }

    &__titlewithline{
        display: block;
        text-align: center;
        // margin-top: 56.78px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 1.41rem;
        line-height: 26px;
        color: #000000;
        width: 100%;
        text-align: center;
        letter-spacing: .05rem;
        padding-bottom: 24px;
        border-bottom: 0.75px solid black;
    }


    &__item{
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 22.5px;
        line-height: 30px;

        color: #231F20;
    }
    &__duration{
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 30px;
        width: 100%;
    }
    &__description{
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 30px;
        width: 100%;
    }
    
    &__button{
        width: 100%;
        display: block;
        height: 50px;
        font-family: 'Raleway';
        font-size: 1rem;
        font-weight: 900;
        border: 1px solid black;
        letter-spacing: 1px;
        .theme--light.v-btn.v-btn--disabled{
            border: none;
        }
    }  
}
