#editcasestudies{
    position: relative;

    &__contain{
        height: 100%;
        border: 0.75px solid #000000;
        margin-top: 69.29px;
        margin-bottom: 49.29px;
        padding-left: 0%;
        padding-right: 0%;
        @media (max-width: 610px) {
            border: none;
        }
    }
    &__icon{
        width: 75px;
        height: 80px;
        position: absolute;
        margin-top: 33px;
    }
    &__button{
        width: 100%;
        border: 0.75px solid #231F20;
        text-align: center;
        display: inline-block;
        //for font 
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
        color: #231F20;
        //to make the border 
    }
    
}


.editcasestudies{

        &__title{
            margin-top:56.78px ;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 900;
            font-size: 1.41rem;
            line-height: 26px;
            color: #000000;
            width: 100%;
            text-align: center;
            letter-spacing: .05rem;
        }


        &__borderline{
        
            border-spacing: 0px;
            position: relative;

            border: 0.75px solid #000000;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            padding-top: 0%;
            
        }

        &__description{
        
            margin-top: 5%;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 1.41rem;
            color: #949598;
            width: 100%;
            text-align: center;
            line-height: unset;
        
        }
        &__labels{
        }

        &__titlename{
            font-family: Raleway;
            font-style: normal;
            font-weight: 800;
            font-size: 0.94rem;
            line-height: 18px;
            color: #231F20;
            margin-top: 6.9%;
        }

        &__titleurl{

            margin-top: 6.9%;
            font-family: Raleway;
            font-style: normal;
            font-weight: 800;
            font-size: 0.94rem;
            line-height: 18px;
            color: #231F20;
            margin-left: 14px;
        }
        &__inputlinkname{
            width: 100%;
            height: 41.81px;
            border: 0.375px solid #000000;
            text-align: left;
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            /* identical to box height */
            color: #231F20;
            & input{
                width: 100%;
                height: 100%;
                padding: 5px 17px;
            }
        }

        &__inputlinkurl{
            // width: 100%;
            text-align: left;
            margin-left: 14px;
            color: #231F20;
            & input{
                // width: 100%;
                height: 100%;
                padding: 5px 17px;
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                opacity: 1; /* Firefox */
            }
            .v-text-field fieldset, .v-text-field .v-input__control, .v-text-field .v-input__slot{
                border-radius: 0px;
            }
            .v-input__slot{
                height: 41.81px;
                min-height: 41.81px;
                border: 0.5px solid #231F20;
                input{
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
            & > input{
                border: 0.428px solid #231F20;
            }
            input{
                font-family: Raleway;
                font-style: normal;
                font-weight: 900;
                font-size: 17.1097px;
                line-height: 20px;
                color: #231F20;
                // width: inherit;
                height: inherit;
                padding: 10px;
            }
        }

        &__savebutton{
            //border box
            width: 100%;
            height: 73.5px;
            border: 0.75px solid #231F20;
            text-align: center;
            display: inline-block;
            //for font 
            font-family: Raleway;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 35px;
            color: #231F20;
            //to make the border 
            margin-top: 64px;
            margin-bottom: 64px;
            & span{
                width: 100%;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
            }
        }
        
    &__box{
        cursor:pointer;
        text-align: center;
        display: block;
        width: 100%;
        height: 41.81px;
        line-height: 41.81px;
        padding-top:0.5%;
        border: 0.375px dashed #231F20;
        text-align: center;
        & span{
            width: 100%;
            padding: 7px;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }
    &__textbox{
        // margin-bottom: 30px;
    }

}