#elevator_view2{
    &__icon{
        width: 78px;
        height: 91px;
        position: absolute;
        margin-top:22px;
    }

    &__backbuttonicon{
        font-size: 20px;

        position: absolute;
        // margin-top:22px;
        margin-top:-50px;
        margin-left:10px;
        color: #C7C8CA;
    }


    &__contain{
        
        height: 100%;
        border: 0.75px solid #000000;
        margin-top: 69.29px;
        margin-bottom: 49.29px;
        padding-left: 0%;
        padding-right: 0%;
        @media (max-width: 610px) {
            border: none;
        }
    }

    &__borderline{
        padding-top: 0%;
        border-spacing: 0px;
        position: relative;
        margin-top: 27.07px;
        border: 0.75px solid #000000;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }


}

.elevator_view2{

    &__backbutton{
        position: absolute;
        margin-top:2px;

        margin-left:15px;
        font-family: "Raleway";
        font-size: 18px;
        font-weight:900;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #C7C8CA;
    }

    &__alignright{
        // padding-left: 15px;
        width:100vw;
        display: inline-block;

    }

    &__ratedstar{
        font-size: 20px;
        margin:5px;
        color: #FDD35A;
    }

    &__unratedstar{
        font-size: 20px;
        margin:5px;
        color: #E6E7E8;
    }

    &__ratinglabel{
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        font-family: "Raleway";

    }

    &__copyicon{
        font-size: 25px;

        &:hover{
            color: #EDA1BF;
        }
    }

    &__paragraph{
        height: 240px;
        // border: 1px solid #CCCCCC;
        // border: 1px solid transparent;
        width: 100%;
        font-size: 18px;
        font-family: "Raleway";
        // padding-left: 20px;
        font-weight: 700;
        word-wrap: break-word;
        color: #000000;

        &::placeholder{
            color: #000000;
        }
    }

    

    &__title{

    margin-top:56.78px ;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 1.41rem;
    line-height: 26px;
    color: #000000;
    width: 75%;
    text-align: center;
    letter-spacing: .05rem;

    }

    &__description{

    margin-top: 5%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.41rem;
    color: #949598;
    width: 75%;
    text-align: center;
    line-height: unset;

    &__label{
        margin-top: 5%;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 1.41rem;
        color: #000000;
        width: 75%;
        text-align: left;
        line-height: unset;
    }

    }

    &__threequarters{
        width: 75%;
        text-align: center;
        line-height: unset;  
    }

    &__check{

    margin-top: 5%;
    margin-bottom: 3%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.41rem;
    line-height: 30px;
    color: #949598;
    width: 75%;
    text-align: left;

    }

    &__checkbox{
        width: 18px;
        height: 18px;
        margin-top: .5%;
        margin-right: 2%;
        border: 1.5px;
        border-color: #C7C8CA;
        
    }

    &__button{
    // margin-top: 2%;
    width: 100%;
    height: 73.5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 1.88rem;
    line-height: 35px;
    color: #000000;
    // background-color: #E6E7E8;
    border: 1px solid #000000;
    word-wrap: break-word;


    }

    &__button:hover { 
        background-color:#6FBA7F;
        color: #ffffff;
        border: 1px solid #6FBA7F;

    }





}




