#elevator_view{
    &__icon{
        width: 75px;
        height: 77px;
        position: absolute;
        margin-top:30px;
    }

    &__contain{
        
        height: 100%;
        border: 0.75px solid #000000;
        margin-top: 69.29px;
        margin-bottom: 49.29px;
        padding-left: 0%;
        padding-right: 0%;
        @media (max-width: 610px) {
            border: none;
        }
    }

    &__borderline{
        padding-top: 0%;
        border-spacing: 0px;
        position: relative;
        margin-top: 27.07px;
        border: 0.75px solid #000000;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }


}

.elevator_view{

    &__viewbutton{
        font-family: "Raleway";
        width: 100%;
        height:100%;
        font-size: 10px;
        text-transform:uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        border: 1px solid #000000;
        vertical-align: center;

        &:hover{

            font-family: "Raleway";
            width: 100%;
            height:100%;
            font-size: 10px;
            text-transform:uppercase;
            font-weight: 900;
            letter-spacing: 1px;
            border: 1px solid #EDA1BF;
            background-color:#EDA1BF;
            color: #ffffff;
            vertical-align: center;

        }

    }

    &__externallink{
        color:#EDA1BF;


        &:hover{
            color:#404142;
        }
    }

    &__label{
        font-family: "Raleway";
        font-size: 15px;
        font-weight:800;
    }

    &__teamtitle{
        font-family: "Raleway";
        font-size: 15px;
        font-weight:900;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__teampitch{
        font-family: "Raleway";
        font-size: 18px;
        font-weight:700;
        color: #939598;
    }

    &__rated{
        font-size: 15px;
        margin:2px;
        color: #FDD35A;
    }

    &__unrated{
        font-size: 15px;
        margin:2px;
        color: #D1D3D4;
    }

    &__ratedstar{
        font-size: 25px;
        margin:5px;
        color: #FDD35A;
    }

    &__unratedstar{
        font-size: 25px;
        margin:5px;
        color: #E6E7E8;
    }

    &__ratinglabel{
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        font-family: "Raleway";

    }

    &__copyicon{
        font-size: 25px;

        &:hover{
            color: #EDA1BF;
        }
    }

    &__videolink{
        height: 60px;
        border: 1px solid #CCCCCC;
        width: 75%;
        font-size: 22px;
        font-family: "Raleway";
        padding-left: 20px;
        font-weight: 700;
    }

    

    &__title{

    margin-top:56.78px ;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 1.41rem;
    line-height: 26px;
    color: #000000;
    width: 75%;
    text-align: center;
    letter-spacing: .05rem;

    }

    &__description{

    margin-top: 5%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.41rem;
    color: #949598;
    width: 75%;
    text-align: center;
    line-height: unset;

    }

    &__check{

    margin-top: 5%;
    margin-bottom: 3%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.41rem;
    line-height: 26px;
    color: #949598;
    width: 75%;
    text-align: center;

    }

    &__checkbox{
        width: 18px;
        height: 18px;
        margin-top: .5%;
        margin-right: 2%;
        border: 1.5px;
        border-color: #C7C8CA;
        
    }

    &__button{
    // margin-top: 2%;
    width: 100%;
    height: 73.5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 1.88rem;
    line-height: 35px;
    color: #BCBEC0;
    background-color: #E6E7E8;


    }

    &__button:hover { 
        background-color:#6FBA7F;
        color: #ffffff;

    }





}




