
.guide{
    &__viewer-container{
        position: relative;
        // height: calc(100vh-68px);
        height: 100%
    }
    &__locks{
        cursor: pointer;
        z-index: 1000;
        height: 100%;
        position: absolute;
        &--right{
            right: 0;
        }
        &--left{
            left: 0
        }
    }
}
.guide{
    &__bar{
        // min-height: 100vh;
        // box-sizing: border-box;
        padding: 5% 0%;
        height: 100%;
        background-color: transparent;
        border-right: 1px solid #404142;
        border-bottom: 1px dashed #404142;
        overflow: auto;
        width: 100%;
    }

    &__bar > .col:first-child .guide__bridge--first{
        display: none;
    }

    &__bar .col{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &__bar2{
        // height: 90vh;
    }

    &__mainrow{
        margin-top: 5px;
        margin-bottom:5px;
        // Makes it so that dot stays put
        position: relative;
        padding: 0;

    }

    &__subrow{
        // margin-top: 5px;
        // margin-bottom:5px;

        // Makes it so that dot stays put
        position: relative;
        padding: none;
        &:hover{
            cursor: pointer;
            .guide__subtext{
                color: lighten(#404142, 15);
            }
        }

    }

    &__maintext{
        font-family: "Raleway";
        font-weight: 800;
        font-size: 15px;
        color: #939598;
        margin-top: 5px;
        margin-left: 10px;
        position: absolute;
        // margin: 15px 0px 15px 0px;
        &--active{
            color: #404142;
        }
    }

    &__subtext{
        font-family: "Raleway";
        font-weight: 900;
        font-size: 9px;
        color: #939598;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        padding-top: 2px;
        margin: 6px 0px 0px 10px;
        position: absolute;
        // text-align: center;
        &--active{
            color: #404142;
        }
    }

    &__bridge{
        border-left: 1px solid #939598;
        height: 15px;
    }

    &__smalldot{
        height: 16px;
        width: 16px;
        border: 1px solid #939598;
        border-radius: 50%;
        display: inline-block;
        margin-left: -8px;
        margin-top: 5px;
        // Makes it so that dot stays put
        position: absolute;
    }

    &__smalldotfilled{
        height: 10px;
        width: 10px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left:-4.9392px;
        top: 0.74px;
    }

    &__smalldotunfilled{
        height: 10px;
        width: 10px;
        background-color: transparent;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left:-5px;
        top: -5px;
    }


    &__bigdot{
        height: 32px;
        width: 32px;
        border: 1px solid #939598;
        border-radius: 50%;
        display: inline-block;
        margin-left: -16px;
        // Makes it so that dot stays put | BAD
        // position: absolute;
        &--active{
            border: 1px solid transparent
        }
    }

    &__programicon{
        font-size: 12px;
        margin-left: 7.5px;
        margin-right: 10px;
        margin-top: 9px;



    }

    &__icon_blue{
        color:#3c9dcd;
    }

    &__icon_green{
        color: #6fba7f;
    }

    &__icon_red{
        color: #ea6764;
    }

    &__icon_orange{
        color: #f79961;
    }

    &__icon_yellow{
        color: #fdd35a;
    }

    &__icon_purple{
        color: #ae92b1;
    }

    &__icon_gray{
        color: #939598;
    }

    &__icon_white{
        color: #ffffff;
    }

    &__background_blue{
        background-color:#3c9dcd;
    }

    &__background_green{
        background-color: #6fba7f;
    }

    &__background_red{
        background-color: #ea6764;
    }

    &__background_orange{
        background-color: #f79961;
    }

    &__background_yellow{
        background-color: #fdd35a;
    }

    &__background_purple{
        background-color: #ae92b1;
    }

    &__background_white{
        background-color: #ffffff;
    }
    &__background--transparent{
        background-color: transparent;
    }
    &__background--grey{
        background-color: lighten(#939598, 15);
    }

}