// .guide{
    
//     &__bar{
//         height: 91vh;
//         background-color:  #58595b;
//         border-right: 1px solid #404142;
//         border-bottom: 1px dashed #404142;
//         overflow: auto;
//         min-width: max-content;
//         max-width: max-content;
//     }

//     &__bar2{
//         // height: 90vh;
//     }

//     &__mainrow{
//         margin-top: 5px;
//         margin-bottom:5px;
//         padding-bottom:5px;
//         // Makes it so that dot stays put
//         position: relative;


//     }

//     &__subrow{
//         margin-top: 5px;
//         margin-bottom:5px;

//         // Makes it so that dot stays put
//         position: relative;


//     }

//     &__maintext{
//         font-family: "Raleway";
//         font-weight: 800;
//         font-size: 15px;
//         color: #939598;
//         padding-top: 5px;
//         padding-left:23px;
//         // margin: 15px 0px 15px 0px;
//     }

//     &__activemaintext{
//         color: #404142;
//     }

//     &__subtext{
//         font-family: "Raleway";
//         font-weight: 900;
//         font-size: 9px;
//         color: #939598;
//         text-transform: uppercase;
//         letter-spacing: 1.5px;
//         padding-top: 2px;
//         // margin: 15px 0px 15px 0px;
//         // text-align: center;
//     }

//     &__bridge{
//         border-left: 1px solid #939598;
//         height: 15px;

//     }

//     &__smalldot{
//         height: 16px;
//         width: 16px;
//         border: 1px solid #939598;
//         border-radius: 50%;
//         display: inline-block;
//         margin-left:-8px;
//         margin-right:19px;
//         // Makes it so that dot stays put
//         position: absolute;


//     }

//     &__smalldotfilled{
//         height: 10px;
//         width: 10px;
//         background-color: #ffffff;
//         border-radius: 50%;
//         display: inline-block;
//         margin-left:-5px;
//         margin-right:19px;
//         margin-top: 3px;


//     }

//     &__smalldotunfilled{
//         height: 10px;
//         width: 10px;
//         background-color: transparent;
//         border-radius: 50%;
//         display: inline-block;
//         margin-left:-5px;
//         margin-right:19px;
//         margin-top: 3px;


//     }


//     &__bigdot{
//         height: 32px;
//         width: 32px;
//         border: 1px solid #939598;
//         border-radius: 50%;
//         display: inline-block;
//         margin-left: -16px;
//         margin-right:10px;
//         // Makes it so that dot stays put
//         position: absolute;
//     }

//     &__activebigdot{
//         border: 1px solid transparent;
//     }

//     &__programicon{
//         font-size: 12px;
//         margin-left: 7.5px;
//         margin-right: 10px;
//         margin-top: 9px;



//     }

//     &__icon_blue{
//         color:#3c9dcd;
//     }

//     &__icon_green{
//         color: #6fba7f;
//     }

//     &__icon_red{
//         color: #ea6764;
//     }

//     &__icon_orange{
//         color: #f79961;
//     }

//     &__icon_yellow{
//         color: #fdd35a;
//     }

//     &__icon_purple{
//         color: #ae92b1;
//     }

//     &__icon_gray{
//         color: #939598;
//     }

//     &__icon_white{
//         color: #ffffff;
//     }

//     &__background_blue{
//         background-color:#3c9dcd;
//     }

//     &__background_green{
//         background-color: #6fba7f;
//     }

//     &__background_red{
//         background-color: #ea6764;
//     }

//     &__background_orange{
//         background-color: #f79961;
//     }

//     &__background_yellow{
//         background-color: #fdd35a;
//     }

//     &__background_purple{
//         background-color: #ae92b1;
//     }

//     &__background_white{
//         background-color: #ffffff;
//     }



// }