.introvideo{
    &__container{
    width: 899.55px;
    
    position: relative;
    left: 20.14%;
    right: 17.39%;
    top: 16.21%;
    bottom: 4.14%;
    border: 0.75px solid #000000;
    
    }
    &__header{
        height: 815.58px;
        left: 39.79%;
        right: 36.94%;
        top: 21.76%;
        bottom: 75.7%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 22.5px;
        line-height: 26px;
        color: black;
    }
}