.jointeam{

    &__maintitle{
        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 37.5px;
        line-height: 44px;

        color: #231F20;

        margin-left: 24.5%;
        margin-top: 6%;
    }
    
    &__button1{
        width: 83.94px;

        height: 24.81px;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 10.125px;
        line-height: 12px;
        border: 0.253px solid #231F20;


        color: #231F20;

        margin-left: 10.1%;
        margin-top: 0px;
        margin-right: 29.72px;
        
    }

    &__name1{
        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;


        color: #231F20;

        margin-left: 16.5%;
        margin-top: 41.29px;

    }

    &__button2{
        width: 83.94px;

        height: 24.81px;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 10.125px;
        line-height: 12px;
        border: 0.253px solid #231F20;


        color: #231F20;

        margin-left: 10.1%;
        margin-top: 0px;
        margin-right: 29.72px;
        
    }

    &__name2{
        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;


        color: #231F20;

        margin-left: 17.0%;
        margin-top: 41.29px;

    }

    &__button3{
        width: 83.94px;

        height: 24.81px;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 10.125px;
        line-height: 12px;
        border: 0.253px solid #231F20;


        color: #231F20;

        margin-left: 10.1%;
        margin-top: 0px;
        margin-right: 29.72px;
        
    }

    &__name3{
        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;


        color: #231F20;

        margin-left: 17.5%;
        margin-top: 41.29px;

    }

    &__button4{
        width: 83.94px;

        height: 24.81px;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 10.125px;
        line-height: 12px;
        border: 0.253px solid #231F20;


        color: #231F20;

        margin-left: 10.1%;
        margin-top: 0px;
        margin-right: 29.72px;
        
    }

    &__name4{
        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;


        color: #231F20;

        margin-left: 17.9%;
        margin-top: 41.29px;

}

&__button5{
    width: 83.94px;

    height: 24.81px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 10.125px;
    line-height: 12px;
    border: 0.253px solid #231F20;


    color: #231F20;

    margin-left: 10.1%;
    margin-top: 0px;
    margin-right: 29.72px;
    
}

&__name5{
    width: 100%;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;


    color: #231F20;

    margin-left: 18.4%;
    margin-top: 41.29px;

}

&__button6{
    width: 83.94px;

    height: 24.81px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 10.125px;
    line-height: 12px;
    border: 0.253px solid #231F20;


    color: #231F20;

    margin-left: 10.1%;
    margin-top: 0px;
    margin-right: 29.72px;
    
}

&__name6{
    width: 100%;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;


    color: #231F20;

    margin-left: 18.7%;
    margin-top: 41.29px;

}

&__button7{
    width: 83.94px;

    height: 24.81px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 10.125px;
    line-height: 12px;
    border: 0.253px solid #231F20;


    color: #231F20;

    margin-left: 10.1%;
    margin-top: 0px;
    margin-right: 29.72px;
    
}

&__name7{
    width: 100%;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;


    color: #231F20;

    margin-left: 19.1%;
    margin-top: 41.29px;

}

&__createteam{
    width: 100%;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 37.5px;
    line-height: 44px;

    color: #231F20;

    margin-left: 27.6%;
    margin-top: 41.59px;


}

&__teamname{
    width: 100%;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;

    color: #231F20;


    margin-left: 28.2%;
    margin-top: 40.24px;


}

&__dreamteam{
    width: 384.77px;
    height: 55.88px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    border: 0.375px solid #000000;


    color: #231F20;

    margin-left: 98.3%;
    margin-top: 2%;
    padding-left: 1%;


}

&__createbutton{
    width: 141.85px;

    height: 55.88px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 17.1097px;
    line-height: 20px;
    border: 0.428px solid #231F20;

    color: #231F20;

    margin-left: 90.9%;


}

}