.manageclass{
    &__topbutton{

        width:100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;

        color: #231F20;

        margin-left: 17.5%;
        margin-top: 5.6%;

    }

    &__classesbutton{

        width: 11.8%;
        height: 55.82px;
        border: 0.428px solid #231F20;
        margin-right: 3%;
    
        background: #F1F2F2;

    }

    &__studentsbutton{

        width: 11.8%;
        height: 55.82px;
        border: 0.428px solid #231F20;
        margin-right: 3%;

    }

    &__teambutton{

        width: 11.8%;
        height: 55.82px;
        border: 0.428px solid #231F20;

    }

    &__titlemain{
        width: 100%;
    }

    &__title{

        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 37.5px;
        line-height: 44px;

        color: #231F20;

        margin-top: 4.5%;
        margin-left: 17.84%;
        padding-bottom: 0%;

    }

    &__headtitle{
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;

        margin-top: 3.3%;
    }

    &__classtitle{
        position: absolute;
        margin-left: 19.3%;
        padding-right: 43.5%;

    }

    &__codetitle{
    

        margin-left: 1023px;
        padding-right: 90px;
    }
    
    &__wholeline{
        width: 100%;
        margin-left: 17.8% ;
        margin-top: .7%;
    }

    &__classinput{
        
        width: 384.77px;
        height: 55.88px;
        border: 0.375px solid #000000;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;

        padding-left: 1.5%;

    }

    &__renamebutton{
        width: 141.84px;
        height: 55.88px;

        border: 0.428px solid #231F20;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;

        margin-left: 2%;


    }


    &__deletebutton{
        width: 141.84px;
        height: 55.82px;

        border: 0.428px solid #231F20;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;

        margin-left: 2%;
        margin-right: 2%;

    }

    &__sharecode{

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;

        margin-right: 3.5%;

    }


    &__icon{

        width: 25.01px;
        height: 24.5px;

    }


    &__wholeline3{
        width: 100%;
        margin-left: 17.8% ;
        margin-top: 0.7%;
    }


    &__createbutton{


        width: 192.15px;
        height: 55.82px;
        margin-left: 18.2%;
        border: 0.428px solid #231F20;
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;

        margin-top: 5.7%;

    }
    


}