.manageclass{
    &__container{
        margin-top : 82.5px;
        height: 100%;
    }
    &__topbuttons{
        width:100%;
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;

    }
    &__topbutton{
        width: 11.8%;
        height: 55.82px;
        border: 0.428px solid #231F20;
        margin-right: 3%;
        background: #F1F2F2;
    }
    &__title{

        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 37.5px;
        line-height: 44px;

        color: #231F20;

        margin-top: 65.43px;
        padding-left: 17.84%;
        padding-bottom: 0;

    }

    &__headtitle{
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;
        margin-top: 3.3%;
    }

    &__classtitle{
        // margin-left: 19.3%;
        // padding-right: 43.5%;

    }

    &__codetitle{
        padding-bottom: 68.62px;
    }
    
    &__wholeline{
        margin-top: .7%;
    }

    &__classinput{
        width: 100%;
        height: 55.88px;
        border: 0.375px solid #000000;
        &--field{
            font-family: Raleway;
            font-style: normal;
            font-weight: 900;
            font-size: 17.1097px;
            line-height: 20px;
            color: #231F20;
            width: inherit;
            height: inherit;
            padding: 10px;
        }
        margin-right: 22.9px;
    }

    &__renamebutton{
        width: 100%;
        height: 55.88px;
        border: 0.428px solid #231F20;
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;
        margin: 0px 22.9px;
    }


    &__deletebutton{
        width: 100%;
        height: 55.82px;

        border: 0.428px solid #231F20;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;
        margin:0 22.9px;
    }

    &__sharecode{

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;
        margin-left: 22.9px;
    }


    &__icon{

        width: 25.01px;
        height: 24.5px;

    }


    &__wholeline3{
        width: 100%;
        margin-left: 17.8% ;
        margin-top: 0.7%;
    }


    &__createbutton{


        width: 192.15px;
        height: 55.82px;
        margin-left: 18.2%;
        border: 0.428px solid #231F20;
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;

        margin-top: 5.7%;

    }
    


}