.manageteam{
    &__topbutton{

        width:100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;

        color: #231F20;

        margin-left: 17.5%;
        margin-top: 5.6%;

    }

    &__classesbutton{

        width: 141.84px;
        height: 55.82px;
        border: 0.428px solid #231F20;
        margin-right: 3%;

    }

    &__studentsbutton{

        width: 141.84px;
        height: 55.82px;
        border: 0.428px solid #231F20;
        margin-right: 3%;

    }

    &__teambutton{

        width: 141.84px;
        height: 55.82px;
        border: 0.428px solid #231F20;
        background: #F1F2F2;

    }


    &__titlemain{
        width: 100%;
    }

    &__title{

        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 37.5px;
        line-height: 44px;

        color: #231F20;

        margin-top: 4.5%;
        margin-left: 17.84%;
        padding-bottom: 0%;

    }

    &__headtitle{

        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;

        margin-top: 3.3%;

    }

    &__teamname{

        position: absolute;
        margin-left: 19.3%;
        padding-right: 43.5%;

    }

    &__wholeline{
        width: 100%;
        margin-left: 17.8% ;
        margin-top: 1.8%;
    }

    &__classinput{
        
        width: 384.77px;
        height: 55.88px;
        border: 0.375px solid #000000;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;
        

        padding-left: 1.8%;

    }

    &__renamebutton{
        width: 141.84px;
        height: 55.88px;

        border: 0.428px solid #231F20;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;

        margin-left: 2%;


    }


    &__deletebutton{
        width: 141.84px;
        height: 55.82px;

        border: 0.428px solid #231F20;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;

        margin-left: 2%;
        margin-right: 2%;

    }


    &__wholeline2{
        width: 100%;
        margin-left: 18.35% ;
        margin-top: 1.4%;
    }



    &__title1{

        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 37.5px;
        line-height: 44px;

        color: #231F20;

        margin-top: 2.8%;
        margin-left: 17.84%;
        padding-bottom: 0%;

    }

    &__wholeline3{
        width: 100%;
        margin-left: 17.8% ;
        margin-top: 1.7%;
    }

    &__createbutton{

        width: 141.84px;
        height: 55.88px;

        border: 0.428px solid #231F20;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;

        margin-left: 2%;
        margin-bottom: 10%;

    }

}