.myprograms{

    &__cardbutton{


        border: 1px solid #000000;
        font-family: "Raleway";
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        vertical-align: middle;
        padding: 5px 10px 5px 10px;
        width: 95%;
    }

    &__progressbaractive{
        width:100%;
        height: 10px;
        background-color: #6fba7f;
        margin-top:10px;
        border-radius: 5px;
    }

    &__progressbarqueue{
        width:100%;
        height: 10px;
        background-color: #bcbec0;
        margin-top:10px;
        border-radius: 5px;
    }

    &__progresspercentage{
        font-family: "Raleway";
        font-size: 30px;
        font-weight: 700;
        color: #6fba7f;
    }

    &__progresspercentagequeue{
        font-family: "Raleway";
        font-size: 30px;
        font-weight: 700;
        color: #fdd35a;
    }

    &__cardtitle{
        font-family: "Raleway";
        font-size: 22px;
        font-weight: 800;

    }

    &__cardimage{
        width: 100%;
        // max-height: 150px;
        // min-height: 125px;
        background-color: #000000;
        height: 100%;
    }

&__categorytitle{
    font-family: "Raleway";
    font-size: 25px;
    font-weight: 800;
}

&__card{
    width: 100%;
    border:1px solid #000000;
}

    &__cardbuttoncompleted{


        border: 1px solid #000000;
        font-family: "Raleway";
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        vertical-align: middle;
        padding: 5px 10px 5px 10px;
        width: 30%;

    }

    &__progressbarcompleted{
        width:100%;
        height: 10px;
        background-color: #6fba7f;
        margin-top:10px;
        border-radius: 5px;

    }

    &__progresspercentagecompleted{
        font-family: "Raleway";
        font-size: 30px;
        font-weight: 700;
        color: #6fba7f;

    }

    &__cardtitlecompleted{
        font-family: "Raleway";
        font-size: 22px;
        font-weight: 800;
        text-align: center;
        margin-left:10px;
        margin-right: 10px;

    }

    &__cardimagecompleted{
        width: 100%;
        // max-height: 150px;
        // min-height: 125px;
        background-color: #000000;
        height: 250px;
    }

    &__cardcompleted{
        width: 50%;
        border:1px solid #000000;

    }

// NONE

&__addcard{
    width: 100%;
    border:1px dashed #b1b3b6;
    height: 150px;
    // background-color: #e6e7e8;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    font-size: 40px;
    color: #b1b3b6;

    &:hover{
        border:1px solid #000000;
        color: #000000;
        cursor:pointer;

    }

    &:active{

    }

}

// CARD COMPLETED NONE

&__cardcompletednone{
    width: 50%;
    border:1px solid #e6e7e8;
    background-color: #e6e7e8;
}

&__cardbuttoncompletednone{


    border: 1px solid #dcddde;
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
    width: 30%;
    background-color: #dcddde;
    color: #dcddde;


}

&__progressbarcompletednone{
    width:100%;
    height: 10px;
    background-color: #dcddde;
    margin-top:10px;
    border-radius: 5px;

}

&__progresspercentagecompletednone{
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 700;
    color: #dcddde;

}

&__cardtitlecompletednone{
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    color:#dcddde;

}

&__cardimagecompletednone{
    width: 100%;
    // max-height: 150px;
    // min-height: 125px;
    background-color: #dcddde;
    height: 250px;
}

&__cardcompletednone{
    width: 50%;
    // border:1px solid #dcddde;

}

&__cardcompletednonev2{
    width: 100%;
    background-color: #f1f2f2;
    height: 150px;
    // border:1px solid #dcddde;

    align-content: center;
    vertical-align: middle;
    text-align: center;

    font-size: 30px;

    font-family: "Raleway";
    color: #ffffff;
    font-weight:700;
    font-size: 20px;
    color: #d1d3d4;

    &:hover{

    }

}


}



