#posthack{

    &__icon{
        width: 86.25px;
        height: 83.26px;
        position: absolute;
        margin-top: 2%;
    }

    &__contain{
        height: 100%;
        border: 0.75px solid #000000;
        margin-top: 69.29px;
        margin-bottom: 49.29px;
        padding-left: 0%;
        padding-right: 0%;
    }

    &__check{
        
        width: 18px;
        height: 18px;
        border: 0.75px solid #231F20;
        margin-left: 30%;
    }

    &__exporticon{
        width: 18.71px;
        height: 18.76px;

    }

}


.posthack{

    &__title{
        
        margin-top:56.78px ;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 1.41rem;
        line-height: 26px;
        color: #000000;
        width: 75%;
        text-align: center;
        letter-spacing: .05rem;
    
    }


    &__borderline{
        
        border-spacing: 0px;
        position: relative;

        border: 0.75px solid #000000;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        padding-top: 0%;
            
    }

    &__description{
        
        margin-top: 5%;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 1.41rem;
        color: #949598;
        width: 80%;
        text-align: center;
        line-height: unset;
    
    }

    &__firstcheck{
        margin-top: 5%;
        margin-bottom: 0%;

    }

    &__description1{
        width: 262px;
        height: 18px;

        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;

        margin-left: 24%;
        margin-top: -1.4%;
    }

    &__secondcheck{
        margin-top: 1.4%;
    }

    &__acknowledgebutton{
        width: 187.12px;
        height: 36.75px;

        border: 0.375px solid #231F20;


        /* ACKNOWLEDGE */

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;

        margin-left: 40%;
        margin-top: 8.5%
    }
}