#practicelog-manage{
    &__icon{
        width: 80px;
        height: 75px;
        position: absolute;
        margin-top: 33px;
    }
}


.practicelog_manage{


    &__singlelog{
        margin: 10px 10px 10px 0px;
        font-family: "Raleway";
        font-size: 15px;
        font-weight:800;

    }

    &__rejectbutton{
        border: 1px solid #BFBFBF;
        padding: 3px 10px 2px 10px;
        margin: 10px 10px 10px 0px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 8px;
        font-family: "Raleway";
        color: #BFBFBF;
        

        &:hover{
            background-color: $pc-red;
            color: #ffffff;
            border: 1px solid $pc-red;

        }

    }
    
    &__input{
        width: 275px;
        height: 100px;
        border: 1px solid #000000;
        font-family: 'Raleway';
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 50px;
        color: #000000;
        text-align: center;

        &::placeholder{
            font-size: 50px;
            font-weight: 700;
            color: #E6E7E8;
            text-align: center;
            
            }

        }
    
    &__calculated{
        font-family: "Raleway";
        font-size: 36px;
        font-weight: 800;
    }
            &__borderline{
        
                border-spacing: 0px;
                position: relative;

                border: 0.75px solid #000000;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                padding-top: 0%;
                
            }
        
            &__description{
        
                margin-top: 5%;
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                font-size: 1.41rem;
                color: #949598;
                width: 75%;
                text-align: center;
                line-height: unset;
        
            }
        
            &__line2{
        
                margin-top: 2%;
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                font-size: 1.41rem;
                line-height: 26px;
                color: #949598;
            
                }
        
            &__check{
        
            margin-top: 5%;
            margin-bottom: 3%;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 1.41rem;
            line-height: 26px;
            color: #949598;
            width: 75%;
            text-align: center;
        
            }
        
            &__checkbox{
                width: 18px;
                height: 18px;
                margin-top: .5%;
                margin-right: 2%;
                border: 1.5px;
                border-color: #C7C8CA;
                
            }


            &__button{
                width: 275px;
                height: 50px;
                border: 1px solid #000000;
                font-family: 'Raleway';
                font-size: 1rem;
                font-weight: 900;
                letter-spacing: 1px;
            
                &:hover{
            
                    width: 275px;
                    height: 50px;
                    font-family: 'Raleway';
                    font-size: 1rem;
                    color: #ffffff;
                    border: 1px solid #6FBA7F;
                    font-weight: 900;
                    background-color:#6FBA7F;
                    letter-spacing: 1px;
            
                }
            }        


}
.practicelog-manage{
    &__contain &__logged:last-child{
        margin-bottom: 20px;
    }
    &__contain{ 
        height: 100%;
        border: 0.75px solid #000000;
        margin-top: 69.29px;
        margin-bottom: 49.29px;
        padding-left: 0%;
        padding-right: 0%;
        @media (max-width: 610px) {
            border: none;
        }
    }
    &__title{
        width: 100%;
        margin-top:56.78px ;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 1.41rem;
        line-height: 26px;
        color: #000000;
        text-align: center;
        letter-spacing: .05rem;
        padding-bottom: 24px;
        border-bottom: 0.75px solid black;
    }
    &__log-header{
        font-family: "Raleway";
        font-size: 18px;
        font-weight:800;
        padding-bottom: 0px;
        &.col{
            padding-left: 0;
        }
    }
    &__label{
        width: 100%;
        font-family: "Raleway";
        font-size: 15px;
        font-weight:800;
        &.row{
            margin-left: 0;
            margin-right: 0;
        }
        & .col{
            padding-left: 0;
        }
    }
    &__logged{
        &.row{
            margin-left: 0;
            margin-right: 0;
        }
    }
}