#processlog{
    &__icon{
        width: 80px;
        height: 75px;
        position: absolute;
        margin-top: 33px;
    }

    &__contain{ 

            height: 100%;
            border: 0.75px solid #000000;
            margin-top: 69.29px;
            margin-bottom: 49.29px;
            padding-left: 0%;
            padding-right: 0%;
            @media (max-width: 610px) {
                border: none;
            }
    

    }


}


.processlog{
 
    &__fileattachment{
        font-size: 20px;
        position: relative;
        margin-left: -50px;
        color: #6FBA7F;

    }

    &__filedownload{
        font-size: 20px;
        margin-right: 15px;
        // margin-left:25px;
        // margin-top: 5px;
        // margin-bottom: 5px;
        color: #939598;

        &:hover{
            color: #6FBA7F;
        }
    }

    &__logdescription2{
        font-family:"Raleway";
        font-size: 18px;
        font-weight:700;
            }

    &__logtime{
        font-family:"Raleway";
        font-size: 18px;
        font-weight:400;
        color: #939598;
        margin-right:30px;
    }


    &__logdate{
        font-family:"Raleway";
        font-size: 15px;
        font-weight:900;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #6FBA7F;
        margin-right:30px;
        padding-top:4px;
    }

    &__logostamp{
        width:77%;
    }



    &__filenamecolumn{
        text-align: left;
        font-family:"Raleway";
font-size: 14px;
font-weight:800;
letter-spacing: .5px;

    }

    &__trashiconcolumn{
        text-align: right;
    }

    &__trashicon{
        color: #949598;
        font-size: 14px;

        &:hover{
            color: #EA6763;
        }
    }

    &__logattachment{
        border:1px dashed #939598;
width: 78%;
        height:47px;
        border-radius: 3px;

    }

    &__logdescription{
border:1px solid #000000;
width: 60%;
height:44px;
// padding:0px 15px 0px 15px;
font-family:"Raleway";
font-size: 18px;
font-weight:700;
margin-right: 10px;
border-radius: 3px;

.v-input__slot{
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 1px;
    margin-top: none;
}


    }


    &__logdescription-textfield{


    }

    &__logbutton{

        border:1px solid #000000;
        // padding: 7px 35px 7px 35px;
        width: 15%;
        height:50px;
        font-family:"Raleway";
        font-size: 20px;
        font-weight:900;
        letter-spacing: 1px;

    }
    &__loginfo{
        font-family: "Raleway";
        font-size: 18px;
        font-weight:800;
        margin-bottom: 10px;
    }

    &__singlelog{
        margin: 10px 10px 10px 0px;
        font-family: "Raleway";
        font-size: 15px;
        font-weight:800;

    }

    &__rejectbutton{
        border: 1px solid #BFBFBF;
        padding: 3px 10px 2px 10px;
        margin: 10px 10px 10px 0px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 8px;
        font-family: "Raleway";
        color: #BFBFBF;
        

        &:hover{
            background-color: $pc-red;
            color: #ffffff;
            border: 1px solid $pc-red;

        }

    }

    &__label{
        font-family: "Raleway";
        font-size: 15px;
        font-weight:800;

    }

&__input{
    width: 275px;
    height: 100px;
    border: 1px solid #000000;
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 50px;
    color: #000000;
    text-align: center;

    &::placeholder{
        font-size: 50px;
        font-weight: 700;
        color: #E6E7E8;
        text-align: center;
        
        }

    }
    
        &__calculated{
            font-family: "Raleway";
            font-size: 36px;
            font-weight: 800;
        }
        
            
        
            &__title{
        
            margin-top:56.78px ;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 900;
            font-size: 1.41rem;
            line-height: 26px;
            color: #000000;
            width: 75%;
            text-align: center;
            letter-spacing: .05rem;
        
            }
        
            &__borderline{
        
                border-spacing: 0px;
                position: relative;

                border: 0.75px solid #000000;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                padding-top: 0%;
                
            }
        
            &__description{
        
            margin-top: 5%;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 1.41rem;
            color: #949598;
            width: 75%;
            text-align: center;
            line-height: unset;
            margin-bottom: 40px;
        
            }
        
            &__line2{
        
                margin-top: 2%;
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                font-size: 1.41rem;
                line-height: 26px;
                color: #949598;
            
                }
        
            &__check{
        
            margin-top: 5%;
            margin-bottom: 3%;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 1.41rem;
            line-height: 26px;
            color: #949598;
            width: 75%;
            text-align: center;
        
            }
        
            &__checkbox{
                width: 18px;
                height: 18px;
                margin-top: .5%;
                margin-right: 2%;
                border: 1.5px;
                border-color: #C7C8CA;
                
            }


            &__button{
                width: 275px;
                height: 50px;
                border: 1px solid #000000;
                font-family: 'Raleway';
                font-size: 1rem;
                font-weight: 900;
                letter-spacing: 1px;
            
                &:hover{
            
                    width: 275px;
                    height: 50px;
                    font-family: 'Raleway';
                    font-size: 1rem;
                    color: #ffffff;
                    border: 1px solid #6FBA7F;
                    font-weight: 900;
                    background-color:#6FBA7F;
                    letter-spacing: 1px;
            
                }
            }        


}
