.programbrief{
    &__addbrief{
        width: 100%;
        border: 1px dashed #ffffff;
        height: 70px;

        &:hover{
            width: 100%;
            border: 1px dashed transparent; 
            background-color: #404142;
            height: 70px;
        }
    }
    
    &__container{
        height: 100%;
        padding-left: 0px;
        font-size: 2.35rem; 
        
    }

    &__dark{
        width: 100%; 
        height: 100%;
        color: #fff;
        background-color: #636466;
    }

    &__tile{
        font-family: "Raleway";
        font-weight: 800;
    }
    

}

#Contain{
    background-color: #636466;
}

.briefcard__sontaincontainer{
    .briefcard-edit{
        &__container{
            // width: 1091.5px;
            width: 100vw;
            box-shadow: none;
            &--cards{
                &:hover{
                    width: 100%;
                    border: 1px dashed transparent; 
                    background-color: #404142;
                    height: 70px;
                }
            }

        }
    }   
}

.checkbox_itself {
    margin-right:10px;
    line-height: unset;
}

.briefcard
{



    &__header
    {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 800;
        line-height: 29px;
        font-size: 1.56rem;
        color: white;
        position: relative;
        letter-spacing: .5px;
    }

    &__check{
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        line-height: unset;
        font-size: .8rem;
        color: white;
        position: relative;

    }

    &__buton{
        font-family: "Raleway";
        font-style: normal;
        font-weight: 800;
        line-height: 18px;
        font-size: .8rem;
        width: 149.62px;
        height: 36.75px;
        background-color: #BCBEC0;
        color: white;
        border-width: 5px;
        position: relative;
        letter-spacing: .05rem;
        font-weight: 900;

        top: 75%;
        
    }

    &__buton:hover{
        font-family: "Raleway";
        font-style: normal;
        font-weight: 800;
        line-height: 18px;
        font-size: .8rem;
        width: 149.62px;
        height: 36.75px;
        background-color: #414042;
        color: white;
        border-width: 5px;
        position: relative;
        letter-spacing: .05rem;
        top: 75%;
        
    }

    &__cover{
        margin-left: 9px;
        width: 153px;
        height: 198px;
        background-color:white;
        color: white;
        position: relative;
    }

    &__cover:hover{
        margin-left: 9px;
        width: 153px;
        height: 198px;
        background-color:#414042;
        color: white;
        position: relative;
    }
    
}




#briefcard__rowcontain{
    box-shadow: none;
}



    