// page__element(labels, buttons)--modifier(active, red, blue)

#prompt{
    &__icon{
        width: 75px;
        height: 77px;
        position: absolute;
        margin-top:30px;
    }

    &__contain{
        
        height: 100%;
        border: 0.75px solid #000000;
        margin-top: 69.29px;
        margin-bottom: 49.29px;
        padding-left: 0%;
        padding-right: 0%;
    }

    &__borderline{
        padding-top: 0%;
        border-spacing: 0px;
        position: relative;
        margin-top: 27.07px;
        border: 0.75px solid #000000;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
    &__button{
        // margin-top: 2%;
        font-family: Raleway;
        font-style: normal;
        font-weight: 900 !important;
        font-size: 1.88rem;
        line-height: 35px;
        color: #000000;
        // background-color: #E6E7E8;
        border: 1px solid #000000;
        word-wrap: break-word;
        width: 100%;
        }
    
        &__button:hover { 
            background-color: $pc-green;
            color: #ffffff;
            border: 1px solid $pc-green;
    
        }
    

}

.prompt{

    &__finalize{
        border: 1px solid #000000;
        width: 100%;
        height: 175px;
        padding: 10px 10px 10px 10px;
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }

    &__generatedtitle{


        &--color1{
            font-family: "Raleway";
            font-weight: 900;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            padding: 5px 10px 5px 10px;
            letter-spacing: 1px;
            border: 1px solid #f79961;
            background-color: #f79961;
            color: #ffffff;
            width: fit-content;
            border-radius: 7px;
        }

        &--color2{
            font-family: "Raleway";
            font-weight: 900;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            padding: 5px 10px 5px 10px;
            letter-spacing: 1px;
            border: 1px solid #3c9dcd;
            background-color: #3c9dcd;
            color: #ffffff;
            width: fit-content;
            border-radius: 7px;

        }

        &--color3{
            font-family: "Raleway";
            font-weight: 900;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            padding: 5px 10px 5px 10px;
            letter-spacing: 1px;
            border: 1px solid #6fba7f;
            background-color: #6fba7f;
            color: #ffffff;
            width: fit-content;
            border-radius: 7px;

        }

        &--color4{
            font-family: "Raleway";
            font-weight: 900;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            padding: 5px 10px 5px 10px;
            letter-spacing: 1px;
            border: 1px solid #ae92b1;
            background-color: #ae92b1;
            color: #ffffff;
            width: fit-content;
            border-radius: 7px;

        }


    }

    &__choosebutton{
        font-family: "Raleway";
        font-weight: 900;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 10px 5px 10px;
        letter-spacing: 1px;
        border: 1px solid #a7a9ac;
        width: fit-content;
        border-radius: 7px;
        color: #a7a9ac;

        &:hover{
            font-family: "Raleway";
            font-weight: 900;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            padding: 5px 10px 5px 10px;
            letter-spacing: 1px;
            border: 1px solid #000000;
            width: fit-content;
            border-radius: 7px;
            color: #000000;
            cursor: pointer;
        }

    }


    &__generated{
        font-family: "Raleway";
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        padding: 0px 75px 0px 75px;

    }
    &__divider{
        border-bottom: 6px solid #e6e7e8;
        width: 32%;
    }

    &__dividerexitsurvey{
        border-bottom: 6px solid #e6e7e8;
        width: 60%;
    }

    &__header{
        font-family: "Raleway";
        // color: #c7c8ca;
        color: #000000;
        font-size: 30px;
        font-weight: 800;
    }

    &__headerdescription{
        font-family: "Raleway";
        color: #c7c8ca;
        // color: #000000;
        font-size: 18px;
        font-style: italic;
        font-weight: 600;
    }

    &__generatetitle{
        font-family: "Raleway";
        font-size: 16px;
        color: #000000;
        font-weight: 700;
        margin-top: 9px;
    }

    &__generateinput{
        width: 100%;
        border: 1px solid #000000;
        height: 40px;
        padding-left: 10px;
        font-family: "Raleway";
        font-weight: 800;

        &::placeholder{
        color: #CCCCCC;
        }

    }

    &__ratedstar{
        font-size: 25px;
        margin:5px;
        color: #FDD35A;
    }

    &__unratedstar{
        font-size: 25px;
        margin:5px;
        color: #E6E7E8;
    }

    &__ratinglabel{
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        font-family: "Raleway";

    }

    &__copyicon{
        font-size: 25px;

        &:hover{
            color: #EDA1BF;
        }
    }

    &__onesentence{
        height: 120px;
        border: 1px solid #CCCCCC;
        width: 100%;
        font-size: 22px;
        font-family: "Raleway";
        padding-left: 20px;
        font-weight: 700;
        word-wrap: break-word;
    }

    

    &__title{

    margin-top:56.78px ;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 1.41rem;
    line-height: 26px;
    color: #000000;
    width: 100%;
    text-align: center;
    letter-spacing: .05rem;

    }

    &__description{

    margin-top: 5%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.41rem;
    color: #949598;
    width: 100%;
    text-align: center;
    line-height: unset;

    }

    &__check{

    margin-top: 5%;
    margin-bottom: 3%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 1.41rem;
    line-height: 30px;
    color: #949598;
    width: 100%;
    text-align: left;

    }

    &__checkbox{
        width: 18px;
        height: 18px;
        margin-top: .5%;
        margin-right: 2%;
        border: 1.5px;
        border-color: #C7C8CA;
        
    }
}




