.Team{

    &__title{
        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 37.5px;
        line-height: 44px;
        color: #231F20;
        margin-top: 68.07px;

    }

    &__name{
        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;
        margin-top: 41.59px;

    }

    &__Settings{
        width: 100%;

        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 37.5px;
        line-height: 44px;
        color: #231F20;
        margin-top: 41.59px;


    }

    &__teamname{
        width: 100%;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;
        // margin-top: 40.24px;


    }

    &__buttons{
        width: 100%;
    }

    &__newteamname{
        height: 55.88px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        color: #231F20;
        margin-top: 1%;
        padding-left: 1%;


    }

    &__renamebutton{
        height: 55.88px;
        margin-left: 22px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 17.1097px;
        line-height: 20px;
        color: #231F20;
        .v-text-field > .v-input__control > .v-input__slot{
            border: 0.428px solid #231F20;   
        }
    }

    &__leavebutton{
        // font-family: Raleway;
        // font-style: normal;
        // font-weight: 900;
  

    }
}